.first-navbar {
    background-color: #e30074;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    position: fixed;
    width: 98%;
    margin-bottom: 104px;
}

.first-navbar nav {
    display: flex;
}

.main-options {
    color: white;
    align-self: center;
    padding-left: 30px;
}

.main-options a {
    text-decoration: none;
    color: white;
    font-size: small;

}

.main-icons i {
    color: white;
    padding: 0px 15px 0px 15px;
}

body {
    font-family: "TeleNeo Web", Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* second navbar */

.second-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgb(50 50 50 / 20%);
    position: fixed;
    width: 98%;
    margin-top: 55px;
}

.second-navbar nav a {
    text-decoration: none;
    color: black;
    font-size: small;
    padding: 0px 43px 0px 43px;
    color: white;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 5px;
}

.second-navbar nav a:first-child {
    padding-left: 0px;
}

.log-in {
    color: #e30074;
    font-size: small;
}


/* subnav */

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 14px;
    border: none;
    outline: none;
    margin: 0;
    color: black;
    background: transparent;
    padding-right: 29px;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background: rgb(226, 0, 116);
    color: white;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background: rgb(226, 0, 116);
    width: 100%;
    z-index: 1;
    padding: 1%;
    color: white;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.subnav-content a:hover {
    border: 1px solid lightcoral;
}

.subnav:hover .subnav-content {
    display: block;
}

/* header  */

header {
    background-size: cover;
    background-image: url(https://www.magenta.at/content/dam/magenta_at/functional/1200x630_magenta_og_image_basic.png);
    max-width: 106%;
    height: 700px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 1761px;
}

/* learn more btn */
.action {
    width: max-content;
    border-radius: 6px;
    background-color: #e20074;
    border: 1px solid #e20074;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    padding: 11px 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.header-title {
    font-size: 54px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* services */

.services {
    display: flex;
    size: 15px;
    background-color: #e20074;
    color: white;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}

.services i {
    font-size: 34px;
    background: white;
    color: #e20074;
    padding: 2%;
    border-radius: 59px;
}

.services i:hover {
    box-shadow: 0 15px 15px 0 rgba(11, 11, 11, 0.2);
    color: #b80a64;
}

.products-list {
    display: flex;
    justify-content: space-around;
}

.products-list div {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.products-list button {
    background-color: #20daa0;
    border-color: #20daa0;
    color: #222;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: small;
    font-weight: bold;
    width: fit-content;
    display: flex;
    align-self: center;
    border: none;
}

.products-list img {
    max-height: 250px;
}

/* most wanted services */

.most-wanted-services h1,
.products h1 {
    text-align: center;
    font-size: 43px;
    padding-top: 2%;
    padding-bottom: 3%;
    letter-spacing: 4px;
}

.most-wanted-services {}

.most-wanted-services-list {
    display: flex;
    flex-direction: column;
}

.first-box {}

.second-box {}

.most-wanted-services div {
    display: flex;
    align-items: center;
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.most-wanted-services div div div {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 12px rgb(0 0 0 / 5%);
    padding: 2%;
}


.most-wanted-services i {
    font-size: 44px;
    color: #b80a64;

}

.most-wanted-services div h2 {
    font-weight: bold;
}



/* paketen */

.paketen {
    display: flex;
    box-sizing: border-box;
    padding: 25px;
    justify-content: space-evenly;
    background-position: center bottom;
    background-color: rgb(226, 0, 116);
    background-image: url(./images/ezgif-2-07128d93d2.png);
    background-repeat: no-repeat;
    background-size: 2521px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.paketen ul {
    padding-inline-start: 0px;
}

.paketen li {
    list-style-type: none;
    font-size: 18px;
    line-height: 40px;

}

.first-paket,
.second-paket,
.third-paket {
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    padding: 2%;
    box-shadow: 0 6px 12px rgb(0 0 0 / 5%);
    text-align: center;
}



.pakete-btn {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 12px;
    color: black;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 29px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 1px 0px 12px #f40d0d66;
}

/* btn buy now */

.buy-now {
    width: max-content;
    border-radius: 6px;
    background-color: #e20074;
    border: 1px solid #e20074;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    padding: 11px 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* footer */

footer {
    color: white;
    background-color: #222;
    display: flex;
    place-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}


footer ul li {
    text-decoration: none;
    list-style-type: none;
    color: lightgray;
}

footer ul li:hover {
    color: rgb(226, 0, 116);
}


.information ul li {
    line-height: 30px;
}


.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0.5%;
    background: rgb(226, 0, 116);
    color: white;
    font-size: 20px;
}

.copyright i {
    font-size: 25px;
    padding: 8px;
}

.copyright a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}


